#noteText {
    white-space:normal;
    font-size: small
}

.startsUgly {
    display: none;
}
#noteAddPopup-popup {
    width: 90%;
    left: auto;
    right: 0;
}
#loadStatus-popup {
    text-align: center;
}
